@import 'bulma';

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
        //  font-family: 'UnifrakturMaguntia', cursive;
}

.mapBox    {
    width: 250px;
    height: 250px;
}

#map    {
    width: 100%;
    height: 100%;
}

//*THIS CODE IS FOR DESKTOP*
@media (min-width: 651px)    {
    .logo {
        height: 15%;
        width: 15%;
    }

    .tabs {

        h2 {
            display: none;
        }
        h2:active {
        display: inline-block;
        }
    }
}


//*THIS CODE IS FOR MOBILE*
@media (max-width:650px) {
    body    {
        background-image: url(https://farm8.staticflickr.com/7309/13488563063_9cab01ca1c_h.jpg);
        background-size: 1600px 1067px;
        background-position: -255px -259px;
        padding-bottom: 100px;
        background-attachment:fixed;
    }

    .logo {
        margin: 0 auto;
        width: 50%;
    }

    .social-icons {
        display: inline-flex;
        width: 50%;
        margin: 0 auto;
    }

    //Styling for the accordion
    .section  {
        border: 1px solid #FFCE00;
        padding: 0;
        margin: 5%;
        border-radius: 15px;
        opacity: 0.7;
        background-color: transparent;
        h1  {
          background-color: #b94152;
          text-align: center;
          margin: 0;
          padding: 0;
          height: 2rem;
          border-radius: 15px;
          z-index: 10;
          color: white;
        }
        h1:hover  {
          background-color: #DD0000;
          opacity: 1;
        }
        img  {
            opacity: none;
        }
    }

    .accordion  {
      margin: 10%;
    }

    .blurb  {
      margin: 0;
      padding: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all .8s ease .15s;
      z-index: -10;
      color: white;
    }

    .shown {
        opacity: .8;
        padding: 8px;
        height: auto;
        transition: all .8s ease .15s;;
    }
}
