@import 'bulma';

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
        //  font-family: 'UnifrakturMaguntia', cursive;
}

.mapBox    {
    width: 250px;
    height: 250px;
}

#map    {
    width: 100%;
    height: 100%;
}

//*THIS CODE IS FOR DESKTOP*
@media (min-width: 651px)    {
    body  {
        width: 100%;
        text-align: center;
    };

    .container    {
        width: 1026px;
    }

    .logo {
        height: 15%;
        width: 15%;
    }

    .twitter    {
        margin-right: 15px;
        margin-left: 15px;
    }

    .facebook    {
        margin-right: 15px;
    }

    .instagram    {
        margin-right: 15px;
    }

    .social-icons    {
        background-color: lightgrey;
        padding: 5px;
        border-radius: 30px;
        opacity: 0.8;
        margin-right: 30px;
    }

    .fa-twitter-square    {
        color: black;
    }

    .fa-facebook-official    {
        color: #DD0000;
    }

    .fa-instagram    {
        color: #FFCE00;
    }

    .header    {
        background-image: url(https://farm8.staticflickr.com/7309/13488563063_9cab01ca1c_h.jpg);
        background-size: 1200px 800px;
        background-position: -174px -174px;
        padding-bottom: 400px;
        width: 1026px;
    }

    .fillBox    {
        background-color: lightgrey;
        height: 500px;
        width: 700px;
        overflow: scroll;
    }

    .storyBox, .menuBox, .reservationBox    {
        margin: 0;
        padding: 0;
        height: 0;
        opacity: 0;
        overflow: hidden;
        transition: all .8s ease .15s;
        z-index: -10;
        color: white;
    }

    .tabShown    {
        opacity: .8;
        padding: 8px;
        height: auto;
        transition: all .8s ease .15s;
    }

}

.entree-price:before, .beer-price:before, .game-price:before {
      text-overflow: ellipsis;
      height: 19px;
  // right: 100%;
}


//*THIS CODE IS FOR MOBILE*
@media (max-width:650px) {
    body    {
        background-image: url(https://farm8.staticflickr.com/7309/13488563063_9cab01ca1c_h.jpg);
        background-size: 1600px 1067px;
        background-position: -255px -259px;
        padding-bottom: 100px;
        background-attachment:fixed;
    }

    .logo {
        margin: 0 auto;
        width: 50%;
    }

    .social-icons {
        display: inline-flex;
        width: 50%;
        margin: 0 auto;
    }

    //Styling for the accordion
    .section  {
        border: 1px solid #FFCE00;
        padding: 0;
        margin: 5%;
        border-radius: 15px;
        background-color: rgba(0,0,0,0.5);
        h1  {
          background-color: rgba(185, 65, 82, 0.5);
          text-align: center;
          margin: 0;
          padding: 0;
          height: 2rem;
          border-radius: 15px;
          z-index: 10;
          color: white;
        }
        h1:hover  {
          background-color: rgba(221, 0, 0, 0.5);
        }
        .photo  {
            background-color: rgba(0,0,0,1);
        }
    }

    .accordion  {
      margin: 10%;
    }

    .section2    {
        padding: 0;
        margin: 2%;
        border-radius: 15px;
        h1  {
          background-color: rgba(185, 65, 82, 0.5);
          text-align: center;
          margin: 0;
          padding: 0;
          height: 2rem;
          border-radius: 15px;
          z-index: 10;
          color: white;
        }
        h1:hover  {
          background-color: rgba(221, 0, 0, 0.5);
        }
        img  {
            opacity: 1;
            z-index: 10;
        }

    }

    .blurb, .blurb2  {
      margin: 0;
      padding: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all .8s ease .15s;
      z-index: -10;
      color: white;
    }

    .shown, .shown2 {
        opacity: .8;
        padding: 8px;
        height: auto;
        transition: all .8s ease .15s;
    }
}
