@import 'bulma';

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
        img    {
            border-radius: 5px;
        }
}

.mapBox    {
    width: 300px;
    height: 225px;
    border-radius: 5px;
    padding: 5px;
}

#map    {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 5px 5px 20px black;
    margin-bottom: 20px;
}

//*THIS CODE IS FOR DESKTOP*
@media (min-width: 651px)    {
    body  {
        width: 100%;
        text-align: center;
        background-image: url(../images/Beer-Slide-Background.jpg);
        background-attachment: fixed;
        background-size: 1450px 1000px;
        background-position: 1px -60px;
        color: white;
    };

    .container    {
        width: 1026px;
    }

    .logo {
        height: 30%;
        width: 30%;
        border-radius: 80px;
        background: rgba(211,211,211,.8);
        padding: 30px;
        margin-left: 375px;
        margin-top: 20px;
        box-shadow: 5px 5px 20px black;
    }

    .twitter    {
        margin-right: 15px;
        margin-left: 15px;
    }

    .facebook    {
        margin-right: 15px;
    }

    .instagram    {
        margin-right: 15px;
    }

    .social-icons    {
        background-color: lightgrey;
        padding: 5px;
        border-radius: 30px;
        background: rgba(211,211,211,.3);
        z-index: 10;
        margin-left: 835px;
        position: fixed;
        box-shadow: 5px 5px 20px black;
    }

    .fa-twitter-square    {
        color: black;
    }

    .fa-facebook-official    {
        color: #DD0000;
    }

    .fa-instagram    {
        color: #FFCE00;
    }

    .header    {
        background-image: url(https://farm8.staticflickr.com/7309/13488563063_9cab01ca1c_h.jpg);
        background-size: 1200px 800px;
        background-position: -174px -174px;
        padding-bottom: 400px;
        width: 1026px;
        border-radius: 10px;
        box-shadow: 5px 5px 20px black;
    }

    .fillBox    {
        background-color: none;
        height: auto;
        width: 600px;
        overflow: scroll;
    }

    .storyBox, .menuBox, .reservationBox    {
        margin: 0;
        padding: 0;
        height: 0;
        //opacity: 0;
        background: rgba(0,0,0,0.0);
        overflow: hidden;
        transition: all .8s ease .15s;
        z-index: -10;
        color: white;
    }
    .storyImg    {
        img    {
            opacity: 1;
            box-shadow: 5px 5px 20px black;
        }
    }
    .reservationBox    {
        .label    {
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
            font-size: 1.2em;
        }
    }

    .tabShown    {
        opacity: 1;
        padding: 8px;
        height: auto;
        transition: all .8s ease .15s;
    }

    .tabs    {
        .storyTab, .menuTab, .reservationTab    {
            color: white;
            text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        }

        .storyTab:hover, .menuTab:hover, .reservationTab:hover    {
            color: grey;
        }
    }
    .menuTitle    {
        font-size: 3em;
    }

    .storyBox    {
        font-size: 1.5em;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .menuBox   {
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }

    .beer-name, .entree-name, .game-name    {
        text-align: left;
        font-size: 1.6em;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        margin-top: 30px;
    }

    .beer, .entree, .game    {
        padding: 0px 5px 0px 5px;
        border-radius: 5px;
        box-shadow: 5px 5px 20px black;
        background: rgba(211,211,211,.3);
    }

    .beer-price, .entree-price, .game-price    {
        float: right;
        position: relative;
        margin-top: -37px;
        font-size: 1.3em;
    }

    .beer-style,    {
        text-align: left;
        font-size: 1.2em;
    }

    .beer-abv    {
        float: right;
        position: relative;
        margin-top: -21px;
        font-size: 1em;
    }

    .beer-desc, .entree-desc, .game-desc    {
        text-align: left;
        padding-right: 160px;
        font-size: 1.3em;
    }

    .beer-attr, .entree-attr, .game-attr    {
        margin-top: -40px;
        margin-bottom: 60px;
        position: relative;
        .red    {
            color: red;
        }
        .yellow    {
            color: yellow;
        }
        .blue    {
            color: blue;
        }
        .gold    {
            color: gold;
        }
        .green    {
            color: green;
        }
        div    {
            display: inline-block;
            float: right;
            margin: 0px 10px 0px 10px;

        }
        .hover[title]:hover:after    {
             content: attr(title);
             position: absolute;
             z-index: -10;
             display: none;
        }
    }

    .content1 {
        height: 410px;

        h1 {
            font-size: 2em;
            padding-bottom: 2%;
        }
    }

    .news, .specials, .location {
        color: white;
        margin: 2%;
        padding: 0;
        border-radius: 5px;
        box-shadow: 5px 5px 20px black;
        background: rgba(211,211,211,.1);
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
        height: 360px;
    }

    .news    {
        padding: 5px;
    }

    .smashBox {
        text-align: left;
        overflow: scroll;
        font-size: 1.3em;
        overflow-y: scroll;
        height: 306px;

        h1 {
            text-align: center;
        }

        p{
            margin: 0 0% 0 5%;
        }

        li{
            margin: 0 2% 0 10%;
        }
    }

    .newsImg {
        margin: 2%;
    }

    .specials {

        .photo {
            margin: 2%;
            img    {
                box-shadow: 5px 5px 20px 0px black;
            }
        }

    }

    .locationMap {
        font-size: .8em;
    }

    .photos    {
        .photo    {
            margin: 20px;
            img    {
                box-shadow: 5px 5px 20px 0px black;
            }
        }
    }

}






//*THIS CODE IS FOR MOBILE*
@media (max-width:650px) {
    body    {
        background-image: url(https://farm8.staticflickr.com/7309/13488563063_9cab01ca1c_h.jpg);
        background-size: 1600px 1067px;
        background-position: -255px -259px;
        padding-bottom: 100px;
        background-attachment:fixed;
    }

    .logo {
        margin: 0 auto;
        width: 50%;
    }

    .social-icons {
        display: inline-flex;
        width: 50%;
        margin: 0 auto;
    }

    //Styling for the accordion
    .section  {
        padding: 0;
        margin: 5%;
        border-radius: 15px;
        background-color: rgba(0,0,0,0.5);
        box-shadow: 5px 5px 20px black;
        h1  {
          background: rgba(211,211,211,.3);
          text-align: center;
          margin: 0;
          padding: 0;
          height: 2rem;
          border-radius: 15px;
          z-index: 10;
          color: white;
        }
        h1:hover  {
          background-color: rgba(221, 0, 0, 0.5);
        }
        .photo  {
            background-color: rgba(0,0,0,1);
        }
    }

    .accordion  {
      margin: 10%;
    }

    .section2    {
        padding: 0;
        margin: 2%;
        border-radius: 15px;
        box-shadow: 5px 5px 20px black;
        h1  {
          background-color: rgba(185, 65, 82, 0.5);
          text-align: center;
          margin: 0;
          padding: 0;
          height: 2rem;
          border-radius: 15px;
          z-index: 10;
          color: white;
        }
        h1:hover  {
          background-color: rgba(221, 0, 0, 0.5);
        }
        img  {
            opacity: 1;
            z-index: 10;
        }

    }

    .blurb, .blurb2  {
      margin: 0;
      padding: 0;
      height: 0;
      opacity: 0;
      overflow: hidden;
      transition: all .8s ease .15s;
      z-index: -10;
      color: white;
    }

    .shown, .shown2 {
        opacity: .8;
        padding: 8px;
        height: auto;
        transition: all .8s ease .15s;
    }
}
